################################################################################
# Configuration file for ute.sh
# (default values)
################################################################################

################################################################################
# General properties for CppUnit
################################################################################
# The additional command line options for TD
# This variable can be extended by line in the file <*.td_opt> with same name and 
# and on the same place as file <*.in>.
# Default value: empty
#UTE_CPPUNIT_CLO=""

#Examples:
#UTE_CPPUNIT_CLO="-s a"      #both traces and dummy output are copied to stdout
#TD redirect print-out from the standard output into (TRC | OUT | file_name.txt)
#UTE_CPPUNIT_CLO="-p TRC"    #<*.trc> file for test case 
#UTE_CPPUNIT_CLO="-p OUT"    #<*.out> file for test case
#UTE_CPPUNIT_CLO="-p stdout.txt"

################################################################################
# General properties of tested binary
################################################################################

# Tested binary, should be the same as a GM target
# Default value: derived from name of directory and suffix _test
#UTE_BINARY_FILE="test"

# The default command line options for script runtest.sh, when is run without options
UTE_BINARY_FILE_CLO="example2-cppunitwithextension"

# Tested version, choose from release and debug
# Default value: debug
#UTE_BINARY_FILE_VERSION="debug"

# The complete path to ims_do VOB, where all binaries can be found
# Default value: /vobs/ims_do/sol
#UTE_BINARY_FILE_PATH="$HOME/cppunit/exec"

# The list of numbers defining the return values to be ignored when tested target binary ended with some ERROR
#UTE_BINARY_FILE_IGNORE_RESULTS=""

################################################################################
# Testcase structure settings
################################################################################
# Starting directory for all searches
#UTE_TC_DIR="./"

# "multi" structure can specify dirs where output/trace files are stored
#UTE_TC_OUT_DIR="output_files/"
#UTE_TC_TRC_DIR="output_files/"
#UTE_TC_EXP_DIR="expected_files/"

# The files with list of successful/failed test cases   # command option for store test cases
#UTE_TC_SUCCESSFUL="$(date '+%y%m%d-%H%M%S').OK_TCs.txt"         # -ls
#UTE_TC_FAILED="$(date '+%y%m%d-%H%M%S').ERROR_TCs.txt"          # -lf

# The own substitutions
#UTE_TC_SUB="ute_sub.pm"

################################################################################
# Working directories
################################################################################

#UTE_PURIFY_DIR="tool_logs/purify"
#UTE_TCOV_DIR="tool_logs/tcov"

#UTE_TMP_DIR="$HOME/tmp"

################################################################################
# General properties for tools
################################################################################
#UTE_DEBUGGER="dbx"
#UTE_DIFF="cleartool diff -g"
#Examples:
#UTE_DIFF="vim -d"
#UTE_DIFF="cleartool diff"
#UTE_DIFF="diff"

################################################################################
# User's command line variables, which define set of test cases for testing
################################################################################

#Examples:
#UTE_STC_GROUP="$UTE_TC_DIR/*"
#UTE_STC_NO_CMD="$UTE_TC_DIR/[^c]*"
#UTE_STC_GROUPS="$UTE_STC_GROUP $UTE_STC_NO_CMD"
#Then you can use:
#These variables can be used when is run UTE:
#/vobs/ims_cscf2/test_driver/scripts/runtest.sh -s UTE_STC_GROUP   
#/vobs/ims_cscf2/test_driver/scripts/runtest.sh -s UTE_STC_GROUPS
#/vobs/ims_cscf2/test_driver/scripts/runtest.sh -s UTE_STC_ALL  #where UTE_STC_ALL is set of test cases defined by variables UTE_STC_*

################################################################################
# UTE testing functions 
################################################################################

function ute_testing_before()
{
  :
}

function ute_testing_after()
{
  :
}

################################################################################
# UTE test case functions 
################################################################################

function ute_tc_before()
{
    :
}

function ute_tc_after()
{
    :
}

